<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test"
       connectionString="Data Source=.\SQLExpress;Initial Catalog=test;Integrated Security=SSPI;Timeout=30;"
       providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </connectionStrings>
</configuration>