<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SouthSand" connectionString="Data Source=hr;User ID=scott;Password=tiger;"/>
		<add name="Northwind" connectionString="Data Source=localhost;Initial Catalog=Northwind; Integrated Security=SSPI;"/>
		<add name="TestDatabase" connectionString="Data Source=localhost;Initial Catalog=ETL_Test; Integrated Security=SSPI;"/>
	</connectionStrings>
</configuration>